extends layout

block content
  h1 Microsoft TypeScript Node Express.js
  p.lead Referências
  p
    a(href='https://www.typescriptlang.org/docs/bootstrap') www.typescriptlang.org
  p
    a(href='https://github.com/microsoft/TypeScript-Node-Starter') microsoft/TypeScript-Node-Starter
    a.github-button.float-right(href="https://github.com/microsoft/typescript-node-starter", data-icon="octicon-star", data-show-count="true", aria-label="Star microsoft/typescript-node-starter on GitHub") Star
  hr
  //- .row
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
